# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Environment
.env
.DS_Store

# Backend specific
backend/data/raw/
backend/data/features/
backend/data/opendota_rosters.json
backend/logs/

# Jupyter
.ipynb_checkpoints/
